BODY{
    background-image: url(Olabisi-Onabanjo-University-OOU.PNG);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

h2{
    background-color: black;
}